<td>{{ presta.type_presta }}</td>
<td>{{ presta.type_client }}</td>
<td>{{ presta.nb_jours }}</td>
<td>{{ presta.tjm_ht | localCurrency }}</td>
<td>{{ presta | total | currency: 'EUR' }}</td>
<td>{{ presta | total: presta.taux_tva | currency: 'EUR' }}</td>
<!-- <td>{{ presta.state }}</td> -->
<td [appState]="presta.state">
  <select (change)="update($event)">
    <option [value]="presta.state">
      {{presta.state}}
    </option>
    <ng-container *ngFor="let state of states">
      <option *ngIf="state !== presta.state" [value]="state">
        {{state}}
      </option>
    </ng-container>
  </select>
</td>
